@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

body {
  background-color: rgb(51, 50, 50);
}

.content {
  font-family: 'Fira Mono', monospace;
  line-height: 1.6;
}

@media (max-width: 800px) {
   h1, h2, h3 {
     line-height: 1.7;
   }
}
