@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

body {
  background-color: #282e3e;
  font-family: 'Fira Mono', monospace;
}

.content {
  font-family: 'Fira Mono', monospace;
  line-height: 1.6;
}

// .markdown-rendered ul > li {
//   line-height: 1.7 !important;
// }

// .markdown-rendered ol > li {
//   line-height: 1.7 !important;
// }

// .markdown-preview-view h1, h2, h3, h4, h5 {
//      line-height: 1.7 !important;
// }

// a {
//   color: rgb(7, 127, 87) !important;
//   text-decoration-color: rgb(7, 127, 87) !important;
// }

// .internal-link a {
//   color: rgb(46, 87, 49) !important;
//   text-decoration-color: rgb(46, 87, 49) !important;
// }

// .external-link a {
//   color: rgb(46, 87, 49) !important;
//   text-decoration-color: rgb(46, 87, 49) !important;
// }

// .notelink.active-note a {
//   color: rgb(64, 180, 196) !important;
//   text-decoration-color: rgb(64, 180, 196) !important;
// }

// .notelink a {
//   color: rgb(7, 127, 87) !important;
//   text-decoration-color: rgb(7, 127, 87) !important;
// }

// .lucide .lucide-sticky-note .svg-icon {
//   color: rgb(7, 127, 87) !important;
// }

// .graph-view.color-arrow {
//   opacity: 1;
//   color: rgb(7, 127, 87) !important;
// }

// .graph-title {
//   width: fit-content;
//   background-color: rgb(244, 244, 244) !important;
//   margin: 10px 0 0 0;
//   padding: 3px 7px;
//   font-size: 1.2rem !important;
//   border-radius: 10px 10px 0 0;
//   color: rgb(7, 127, 87) !important;
//  }

// @media (max-width: 800px) {
//    .markdown-preview-view h1, h2, h3 {
//      line-height: 1.7;
//    }
// }
