@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

html, body {
  background-color: rgb(51, 50, 50);
  line-height: 1.6;
}

main.content {
  font-family: 'Fira Mono', monospace;
  line-height: 1.6;
}

h1,h2,h3 {
  line-height: 1.6;
}

